.skills-main-div {
  display: flex;
  overflow: hidden;
}

.skills-header {
  font-size: 56px;
  line-height: 56px;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}

.skills-text-div {
  margin-left: 32px;
  margin-right: 32px;
  font-family: "Google Sans Regular";
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 64px;
  margin-top: 64px;
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 0px;
}

.skills-heading {
  font-size: 32px;
  font-weight: 600;
  font-family: "Google Sans Regular";
  line-height: 120%;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 32px;
    line-height: 120%;
  }
  .skills-header {
    font-size: 38px;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 20px;
    text-align: left;
    line-height: 120%;
    text-align: left;
  }
  .skills-header {
    font-size: 32px;
    text-align: left;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: 24px;
  }
  .skills-main-div {
    flex-direction: column;
    margin-bottom: 24px;
  }
  .skills-text-div {
    margin-left: 24px;
    margin: 0px;
  }
  .skills-text {
    font-size: 16px;
    line-height: 24px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: left;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px;
  }
}
